@using LanceCoffmanCodingPlayground.Models;

@model AnimalViewModel

@{
    ViewBag.Title = "SimpleZoo";
}

<h2>Simple Zoo</h2>
<h4>Find an animal by Color or Habitat Only</h4>
<h4>Available Choices:</h4>
<p>Color = "Black", Habitat = "Grass", AnimalImage = "c:\Snake.jpg",Name = "Snake" </p>
<p>Color = "Black", Habitat = "Woods", AnimalImage = "c:\Bear.jpg", Name = "Bear" </p>
<p>Color = "Blue", Habitat = "Water", AnimalImage = c:\Whale.jpg",Name = "Whale"</p>
<p>Color = "Blue", Habitat = "Water", AnimalImage = "c:\Fish.jpg",Name = "Fish"</p>
<p>Color = "Gray", Habitat = "Mountains", AnimalImage = "c:\Goat.jpg",Name = "Goat"</p>
<p>Color = "Brown", Habitat = "Trees", AnimalImage = "c:\Monkey.jpg", Name = "Monkey"</p>


<div>
@using (Html.BeginForm("Index", "SimpleZoo", FormMethod.Get))
{
    <p></p>
    <p></p>
    <b> Enter in Color and Habitat from choices above: </b>
   <text>Color</text> @Html.TextBox("color")
   <text>Habitat</text> @Html.TextBox("habitat")
    <input type = "submit"
    name = "submit"
    value = "Search" />
    }

<p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Animals.FirstOrDefault().Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Animals.FirstOrDefault().Habitat)
            </th>
            <th>
                Movement
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Animals.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Animals.FirstOrDefault().AnimalImage)
            </th>

            <th></th>
        </tr>

        @foreach (var animal in Model.Animals)
        {
            string movement = animal.Movement();

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => animal.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => animal.Habitat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>animal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => animal.AnimalImage)
                </td>
            </tr>
        }

    </table>


</div>